* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 377px) {
  .website-name {
    align-self: center;
    justify-self: center;
  }

  .intro-container {
    flex-wrap: nowrap !important;
    padding-bottom: 120px;
    flex-direction: column !important;
  }

  .intro {
    width: auto !important;
    padding: 0 25px !important;
  }

  .intro h2 {
    font-size: 45px !important;
    letter-spacing: 0.37px;
  }

  .intro h3 {
    font-size: 24px;
    margin: 20px 0;
  }

  .social-icons-desk {
    visibility: hidden !important;
    list-style-type: none;
  }

  .social-icons-mob {
    display: flex !important;
    flex-direction: row !important;
    list-style-type: none;
  }

  .side-image {
    height: 232px;
    width: 147px;
    background-image: url("images/Illustration.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0 !important;
    right: 0;
  }

  .recent-works {
    width: 375px !important;
    margin: 0 auto !important;
    display: grid;
    grid-template-columns: auto !important;
    padding: 0% !important;
  }

  .multi-post-stories {
    padding: 0 18px;
  }

  .stories-image img {
    max-width: 340px !important;
    height: auto;
  }

  .stories p {
    width: 340px !important;
  }
}

@media only screen and (max-width: 480px) {
  .recent-works {
    width: 375px !important;
    margin: 0 auto !important;
    display: grid;
    grid-template-columns: auto !important;
    padding: 0% !important;
  }

  .multi-post-stories {
    padding: 0 18px;
  }

  .stories-image img {
    max-width: 340px !important;
    height: auto;
  }

  .stories p {
    width: 340px !important;
  }
}

@media only screen and (max-width: 768px) {
  .header-container {
    padding: 0 !important;
  }

  .website-name {
    align-self: center;
    justify-self: center;
  }

  .nav {
    visibility: hidden;
  }

  .mobile-menu {
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .mobile-menu i {
    color: #fff;
    font-size: 22px;
  }

  .intro-container {
    flex-wrap: nowrap !important;
    padding-bottom: 120px;
    flex-direction: column !important;
    position: relative;
  }

  .intro {
    width: auto !important;
    padding: 0 25px;
  }

  .intro h2 {
    font-size: 40px !important;
    letter-spacing: 0.37px;
  }

  .intro h3 {
    font-size: 24px;
    margin: 20px 0;
  }

  .social-icons-desk {
    visibility: hidden !important;
    list-style-type: none;
  }

  .social-icons-mob {
    display: flex !important;
    list-style-type: none;
    flex-direction: row !important;
    margin-top: 20px;
    margin-left: 40px;
  }

  .social-icons-mob > li {
    margin-right: 15px;
  }

  .social-icons-mob i {
    font-size: 22px;
    color: #dbd8d7;
  }

  .social-icons-mob i:hover {
    color: #ff6b00 !important;
  }

  .mobile-menu i:hover {
    color: #ff6b00 !important;
  }

  .side-image {
    height: 232px;
    width: 147px;
    background-image: url("images/Illustration.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10px !important;
    right: 0;
  }

  .recent-works {
    justify-content: center;
    padding-top: 120px !important;
  }

  .section-title {
    margin-bottom: 50px !important;
    justify-content: center;
  }

  .section-title h4 {
    grid-column: 1;
  }

  .section-title .line {
    grid-column: 1;
    margin-top: 30px !important;
    margin-bottom: 25px;
  }

  .multi-post-stories {
    display: grid;
    grid-template-columns: auto !important;
  }

  .stories h5 {
    font-size: 32px !important;
    margin-top: 25px !important;
  }

  .stories p {
    font-size: 16px !important;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 80px;
  }

  .card-area {
    width: 89%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .card {
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(images/recent-works-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 25px 30px 25px;
  }

  .card h6 {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .card p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .card-tags ul {
    display: flex;
    flex-direction: row;
  }

  .language-names li,
  .framework-names li,
  .skill-names li {
    list-style-type: none;
    margin-bottom: 25px;
  }

  .card-tags ul li {
    list-style-type: none;
    margin-right: 15px;
  }

  .details a {
    text-decoration: none;
    color: #fff;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
  }

  .language-names a,
  .framework-names a,
  .skill-names a {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }

  .card-tags ul li a {
    align-items: center;
    padding: 10px 12px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.24);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .details {
    display: flex;
    background-color: #ff6b00;
    justify-content: center;
    height: 48px;
    width: auto;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-details {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }

  .about-details h2 {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 71px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    align-self: center;
  }

  .about-details p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .get-resume-button {
    text-decoration: none;
    color: #fff;
    align-items: center;
    padding: 12px;
    background: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    width: fit-content;
  }

  .get-resume-button:hover {
    color: #d6c9c9;
  }

  .about {
    position: relative;
  }

  .about-side-image {
    background-image: url("images/illustration-about-me-mobile.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0%;
    bottom: -52%;
    height: 88%;
    width: 160px;
  }

  .about-line {
    display: flex;
    width: 88%;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 120px;
    border-bottom: 1px solid #fff;
  }

  .languages,
  .framework,
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .language-title,
  .framework-title,
  .skill-title {
    display: flex;
    flex-direction: row;
  }

  .language-title img,
  .framework-title img,
  .skill-title img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }

  .language-title h3,
  .framework-title h3,
  .skill-title h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    color: #fff;
  }

  .language-names,
  .framework-names,
  .skill-names {
    margin-top: 35px;
  }

  .language-names ul,
  .framework-names ul,
  .skill-names ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    flex-direction: column;
    padding: 25% 8% !important;
  }

  .contact-text {
    width: auto !important;
  }

  .contact-text h4 {
    font-size: 32px !important;
    text-align: center !important;
  }

  .contact-form {
    width: auto !important;
    margin-left: 0% !important;
    margin-top: 60px;
  }

  #name input[name=fName],
  #name input[name=lName] {
    display: none;
  }

  #name input[name=fullName] {
    display: flex;
    width: 100% !important;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #dbd8d7;
    box-sizing: border-box;
  }

  #large {
    display: none;
  }

  #small {
    display: flex;
    font-style: normal !important;
  }
}

@media only screen and (min-width: 1000px) {
  .social-icons-mob {
    visibility: hidden;
  }

  .mobile-menu {
    visibility: hidden;
  }

  #name input[name=fullName] {
    display: none;
  }

  #small {
    display: none;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #3e3c3c;
  padding: 15px;
  align-content: center;
  justify-content: center;
}

.website-name {
  display: flex;
  width: 40%;
  justify-content: flex-start;
}

.website-name h1 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.navbar {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}

.navbar ul li {
  display: inline-block;
  list-style-type: none;
}

.navbar ul li a {
  color: #fff;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  padding: 8px 15px;
  text-decoration: none;
}

.tags ul li a {
  text-decoration: none;
  color: #091e42;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.footer-social-icons ul li a {
  text-decoration: none;
  color: #505f79;
  font-size: 22px;
  margin: 0 9px;
}

.tags a:hover,
.card-tags a:hover {
  background-color: #d44e00;
  color: #fff;
}

.details a:hover {
  color: #d6c9c9;
}

.navbar ul li a:hover {
  color: #f55800;
}

.intro-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #1c1a19;
  align-content: center;
  float: left;
  width: 100% !;
}

.social-icons-desk {
  display: flex;
  flex-direction: column !important;
  width: 8%;
}

.intro {
  width: 50%;
}

.intro h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.intro h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.intro p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.recent-works {
  display: grid;
  padding: 8%;
  justify-content: center;
  padding-top: 100px !important;
}

.section-title {
  display: inline-grid;
  grid-column: 1;
  margin-bottom: 80px;
}

.section-title h4 {
  grid-column: 1;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 40px;
  color: #1c1a19;
}

.line {
  grid-column: 2/25;
  border-bottom: 1px solid #212121;
  align-self: center;
  margin-top: 8px;
}

.section-title .line {
  margin-top: 30px;
  margin-bottom: 25px;
}

.multi-post-stories {
  display: grid;
  grid-template-columns: 63% auto;
}

.stories-image img {
  max-width: 100%;
  height: auto;
}

.stories {
  display: flex;
  flex-direction: column;
}

.stories h5 {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  color: #091e42;
  order: 0;
}

.stories p {
  order: 1;
  width: 448px;
  height: 140px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #091e42;
  margin-top: 25px;
  margin-bottom: 35px;
}

.tags {
  order: 2;
  margin-bottom: 35px;
}

.tags ul {
  display: flex;
  column-gap: 12px;
  flex-direction: row;
  box-sizing: border-box;
  list-style-type: none;
}

.details-button {
  order: 3;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  padding: 12px;
  background: #f55800;
  text-decoration: none;
  width: fit-content;
}

.details-button:hover {
  background: #d44e00;
}

.contact {
  padding: 8%;
  display: flex;
}

.contact-text {
  width: 37%;
  justify-content: flex-start;
}

.contact-text h4 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

.contact-form {
  margin-left: 7%;
  width: 56%;
  display: flex;
  padding-top: 10px;
}

form {
  width: 100%;
}

#name {
  display: flex;
}

#name input[name=fName],
#name input[name=lName] {
  width: 48%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  box-sizing: border-box;
}

#name input[name=lName] {
  margin-left: 4%;
}

input,
textarea {
  font-family: 'Roboto', sans-serif;
  font-family: 400;
  font-size: 15px;
  font-style: normal;
}

#email input {
  width: 100%;
  padding: 10px;
  margin: 23px 0;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  box-sizing: border-box;
}

#message textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border: 0;
  background-color: #fbf8f7;
  box-sizing: border-box;
}

#message textarea[placeholder] {
  font-style: italic;
}

#name input::placeholder,
#email input::placeholder {
  color: #979493;
  font-weight: 400;
}

#large::placeholder,
#small::placeholder {
  color: #3c3a39;
  font-weight: 400;
}

.contact-form button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #f55800;
  padding: 10px 12px;
  border: 0;
  cursor: pointer;
}

.contact-form button:hover {
  color: #d6c9c9;
}

.footer {
  margin-top: 40px;
  padding: 16px;
  border-top: 1px solid #dfe1e6;
  display: flex;
  justify-content: center;
}

.footer-social-icons ul {
  display: flex;
  flex-direction: row;
}

.footer-social-icons ul li {
  list-style-type: none;
  display: inline;
}
